/* // Navbar  */


.header button{
    border: none !important;
    background-color: white !important;
}
.header .navbar_data svg{
    font-size:1.45rem !important;
    ;
}
.header .nav-link{
    padding-right: 2rem  !important;
}